body {
    background-image: url('../images/supermarket.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.character {
    position: absolute;
    width: 48px;
    height: 48px;
    background: url('../images/walking_sheet.png') 0 0;
    left: 50%;
    top: 50%;
    transform: scale(5); /* 5 times larger */
    animation: walkAnimation 4s steps(4) infinite;
    transition: left 4s, top 4s;
}

@keyframes walkAnimation {
    from { background-position: 0; }
    to { background-position: -192px; }
}

.item {
    position: absolute;
    width: 200px;
    height: 200px;
}

#chips {
    background: url('../images/chips.png') no-repeat;
    background-size: contain;
    top: 900px;
    left: 50px;
}

#cola {
    background: url('../images/cola.png') no-repeat;
    background-size: contain;
    top: 900px;
    left: 1600px;
}
