body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
    background-color:pink;
    color:red;
    text-align:center;
    padding-bottom:15 px;
}
section{
display: inline-block;
width: 30 %;
margin-right: 2 %;
float: right;
}
footer {
background: #BBBBBB;
height: 100 px;
clear: both
}
h2 {
  color: purple;

ul {
  list-style-type: none; 
  padding: 0;
}

line-content {
  padding: 0 px ! important;
}

td {
    display: table-cell;
    vertical-align: baseline;
    unicode-bidi: isolate;
    padding: 0 px ! important;
}
  table {
    border-collapse: separate;
    text-indent: initial;
    font-size: initial;
    font-family: monospace;
    tab-size: 4;
    border-spacing: 0 px;
    white-space: pre;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}
body {
    display: block;
    margin: 0 px;
}
 line-gutter-backdrop {
    box-sizing: border-box;
    width: 31 px;
    background-color: light-dark (rgb (240, 240, 240), rgb (60, 60, 60));
    user-select: none;
    position: absolute;
    z-index: -1;
    left: 0 px;
    top: 0 px;
    height: 100 %;
    padding: 0 px 4 px ! important;
    border-right: 1 px solid rgb (187, 187, 187) ! important;
} 
div {
    display: block;
    unicode-bidi: isolate;
}
