body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
    background-color:pink;
    color:red;
    text-align:center;
    padding-bottom:15 px;
}
section{
display: inline-block;
width: 30 %;
margin-right: 2 %;
float: right;
}
footer {
background: #BBBBBB;
height: 100 px;
clear: both
}
h2 {
  color: purple;

ul {
  list-style-type: none; 
  padding: 0;
}

line-content {
  padding: 0 px ! important;
}

td {
    display: table-cell;
    vertical-align: baseline;
    unicode-bidi: isolate;
    padding: 0 px ! important;
}
  table {
    border-collapse: separate;
    text-indent: initial;
    font-size: initial;
    font-family: monospace;
    tab-size: 4;
    border-spacing: 0 px;
    white-space: pre;
}
