body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  color: white;
  padding: 10 px 0;
}
section{

display: inline-block;
width: 30 %;
margin-right: 2 %;
float: right;
}

h2 {
  color: purple;

ul {
  list-style-type: none; 
  padding: 0;
}

li {
  color: black;
  font-size: 16 px; 
